# numpy limitation

In [1]:
import numpy as np
# # type coercion
# n1 = np.array([[1, 2, 3], [4, 5, 6]])
# print(n1)
# n2 = np.array([[1, 2, 3], [4.0, 5.4, 6.2]])
# print(n2)
n3 = np.array([[1, 2, 3], [4.0, 5, 'abc']])
print(n3)

[['1' '2' '3']
 ['4.0' '5' 'abc']]

In [2]:
# dictionary

## Series Data Structure

In [3]:
import pandas as pd
import numpy as np

In [4]:
my_data=[10,20,30,40,50]
s1 = pd.Series(my_data, ['u','v',3,5,4])
# s1 = pd.Series(data=my_data)
print(s1)

u    10
v    20
3    30
5    40
4    50
dtype: int64

In [5]:
d={'w':10,'x':20,'y':30,'z':40}      
#dictionary keys act as index and values with every key act as series values
s2 = pd.Series(d)
print(s2)

w    10
x    20
y    30
z    40
dtype: int64

In [6]:
# Addition of two series
ser1=pd.Series([1,2,3,4],['a','b', 'c', 'd'])   
ser2=pd.Series([1,2,5,9],['a', 'b' ,'c', 'e'])
ser1+ser2

a    2.0
b    4.0
c    8.0
d    NaN
e    NaN
dtype: float64

# DataFrame Data Structure

In [7]:
# Create Dataframe
from numpy.random import randn
np.random.seed(10)
df1=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])  
#generate random number for 5 rows and 4 columns
print(df1)

          W         X         Y         Z
A  1.331587  0.715279 -1.545400 -0.008384
B  0.621336 -0.720086  0.265512  0.108549
C  0.004291 -0.174600  0.433026  1.203037
D -0.965066  1.028274  0.228630  0.445138
E -1.136602  0.135137  1.484537 -1.079805

In [8]:
# # Select columns
# print(df1['W'])
# print(df1[['W','Z']])

## Data Manipulation: Data selection

In [2]:
# DataFrame.loc() will select rows by index values
# DataFrame.iloc() will select rows by rows numbers
print(df1)
# print(df1.loc['A']) # fetch particular row from dataset having index ‘A’
# print(df1.iloc[3]) # fetch 3rd row from dataset
# print(df1.loc[['A','C'],['X','Z']]) # fetch a subset of data from given dataset

NameError: name 'df1' is not defined

In [10]:
df1

          W         X         Y         Z
A  1.331587  0.715279 -1.545400 -0.008384
B  0.621336 -0.720086  0.265512  0.108549
C  0.004291 -0.174600  0.433026  1.203037
D -0.965066  1.028274  0.228630  0.445138
E -1.136602  0.135137  1.484537 -1.079805

In [11]:
# # Dropping row/columns
# df1.drop('W',axis=1,inplace=True)
# df2 = df1.drop('W',axis=1,inplace=False)
# df1.drop('W',axis=1,inplace=True)

In [12]:
# print(df1)

In [13]:
from numpy.random import randn
import pandas as pd
np.random.seed(10)
df2=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
print(df2)

          W         X         Y         Z
A  1.331587  0.715279 -1.545400 -0.008384
B  0.621336 -0.720086  0.265512  0.108549
C  0.004291 -0.174600  0.433026  1.203037
D -0.965066  1.028274  0.228630  0.445138
E -1.136602  0.135137  1.484537 -1.079805

In [14]:
df2[df2['X']>0][['X','Z']]

          X         Z
A  0.715279 -0.008384
D  1.028274  0.445138
E  0.135137 -1.079805

In [15]:
# df2['W'] > 0
# df2[df2['W']>0][['X','Y']]
# df2[df2['W']>0][['X','Y']]
# fetch out desired frame of X & Y from dataset, for those rows where value is more than 0 in ‘W’ column

In [16]:
# df3=df2.set_index('Y') #assign natural index
# df3
# df4=df3.set_index('Z') #set ‘Z’ column as index value
# df4

### Drop missing Values

In [17]:
d={'A':[1,2,np.NaN], 'B':[1,np.NaN,np.NaN],'C':[1,2,3]}     
# np.NaN is the missing element in DataFrame
df4=pd.DataFrame(d)
print(df4)

     A    B  C
0  1.0  1.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [27]:
df4.dropna()         #pandas would drop any row with missing value
df4.dropna(axis=1)   #drop column with NULL value
df4.dropna(thresh=2) #Require <2 non-NA values to drop row.

     A    B  C
0  1.0  1.0  1
1  2.0  NaN  2

### Groupby

In [19]:
data = {'Company': [ 'A', 'A', 'B', 'B', 'C', 'C'],
        'Person': ['Rajesh', 'Pradeep', 'Amit', 'Rakesh', 'Suresh', 'Raj'],
        'Sales': [200, 120, 340, 124, 243, 350]}
df6=pd.DataFrame(data)
print(df6)

  Company   Person  Sales
0       A   Rajesh    200
1       A  Pradeep    120
2       B     Amit    340
3       B   Rakesh    124
4       C   Suresh    243
5       C      Raj    350

In [20]:
comp=df6.groupby("Company")             #grouping done using label name “Company”
print(comp.mean())                       #mean appliead on grouped data
# df6.groupby("Company").std()

         Sales
Company
A        160.0
B        232.0
C        296.5

### Finding unique value & number of occurrence from Dataframe

In [21]:
# df7 = pd.DataFrame({'col1':[1,0,1,1],'col3':['a','b','b','a']})
# print(df7)
# df7['col2'].unique()#fetches the unique values available in column
# df7['col2'].value_counts()# count number of occurance of every value

In [22]:
# type
# type(df7['col2'])
# type(df7[['col2']])

## File Handling

In [23]:
# # csv
# df1 = pd.read_csv('covid_19_india.csv')
# type(df1)

In [24]:
# df2 = pd.DataFrame({'C1' : [1, 2, 3], 'C2' : [4, 5, 6], 'C3' : [7, 8, 9]})
# print(df2)
# df2.to_csv('new.csv')

In [25]:
# # Excel
# df3 = pd.read_excel('Demo.xlsx',sheet_name='Sheet1')
# df3
# df4 = pd.read_excel('Demo.xlsx',sheet_name='Sheet2')
# df4

In [26]:
df5 = pd.DataFrame({'C1' : [1, 1, 1], 'C2' : [2, 2, 2], 'C3' : [3, 3, 3]})
print(df5)
df5.to_excel('new.xlsx', sheet_name='a')

   C1  C2  C3
0   1   2   3
1   1   2   3
2   1   2   3